# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# dotenv
.env
server/.env

# Build output
dist/
build/
.vite/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# Misc
coverage/

# Optional
*.tgz

